* {
  font-family: 'roboto';
}
.bgContainer {
  background-color: #f5d0fe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: white;
  width: 50%;
  min-height: 200px;
  padding: 20px;
}
.card h1 {
  font-weight: bold;
}
